
 <p>Questions work!</p>

 <div>
   <input type="text" placeholder="Enter Question">
 </div>
 <br/>
 <br/>
 <div class="btn">

   <button (click)="addToken()">Add Another Token</button>
 </div>
 <br/>
 <div class="options" *ngFor="let i of optionsList ">
   <app-option class="app-option" [option]="{ id: i.id, option: i.option, isCorrect: i.isCorrect }"></app-option>
 </div>
 
 <div class="setProperty">
   <p>Token {{ optionsList.length }} </p>
   <label id="cars"></label>
   <select id="token" >
     <option value="volvo" *ngFor="let token of optionsList">{{token.option}}</option>
   </select>
 </div>
 