*{  

  margin: 0;
  padding: 0;
  
}
.body{
    background-color: #EEEEEE;
    
}

.main-container{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  flex-direction: column;
  padding: 4px;
}

input{
    width:100%;
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;
}
.input-div{
    width:100%;
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;
}
.Token-text {
  background-color: grey;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.input-question{
  display: flex;
  
  margin: 10px;
}

.tokens {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.addCorrectOptions {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F3FBFF;
  padding: 20px;
}
.addCorrectOptions-dropDown{
  
  margin-bottom: 20px;
}

.btn {
  margin-top: 10px;
}

button {
  background-color: #3FD28B;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4dbc87;
}

label{
    width: 20%;
    
}
select{
    width: 20%;
    padding-left:4px ;
    padding-right: 4px;
}
.btn{
    display: flex;
    /* align-items: end; */
    justify-self: end;
}
button{
    /* align-items: end; */
    justify-content: end;
}
/* nav section */
.nav--section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5% 1.5%;
    background-color:  #0B0B45;
    align-items: center;
    background-image:url('./../../assets/images/nav-bg.png');
}

.navigate--links{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigate--links > a{
  text-transform: uppercase;
  margin-left: 1.5rem;
  text-decoration: none;
  color: #3fd28b;
}

/* Bottom-nav section */
.main--section{
  display: flex;
  padding: 0.5% 1%;
  background-color: #3c4e62;
  align-items: center;
}

.box{
  flex:1;
  display: flex;
  justify-content: center;
}

.title{
  color: white;
}

.box:first-child > div { margin-right: auto; }

.box:last-child  > div { margin-left: auto; }

.buttons > button{
  margin-right: 1rem;
  background-color: #3fd28b;
  color: black;
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1rem;
}


