<app-header></app-header>
  


<div class="main--section">
  <div class="box">
      <div class="arrow">
          <a href="#">
              <img src="./../../assets/images/back.svg" alt="">
          </a>
      </div>
  </div>
  <div class="box ">
      <div class="title">
          Create New Question
      </div>
      
  </div>
  <div class="box ">
      <div class="buttons">
          <button>Discard</button>
          <button>Publish</button>
          <button>Save</button>
      </div>
      
  </div>
</div>






<div class="body">

  <div class="savePreviewSection">
    <div class="topHeading">
        <span class="headerTopheading">Matching</span>
        <span class="topL hthr">(Locked)</span>
    </div>
    <div class="buttonDiv">
        <button class="topBtn">Unlock</button>
        <button class="topBtn" [disabled]="TokenElement.length === 0"  [ngClass]="{'disabled-class': TokenElement.length === 0}" routerLink="/preview"  (click)="saveData()">Save and Preview</button>
    </div>
  </div>

  <div class="topBanner">
    <div class="banner" routerLink="/">
        <button class="btnBanner">1</button>
        <span>Question Properties</span>
    </div>
    <hr class="topHr">
    <div class="banner" routerLink="/questions">
        <button class="btnBanner">2</button>
        <span>Question Content</span>
    </div>
  </div>
  

  <div class="main-container">
    <!-- <div class="btn">
      <button (click)="addText()">Add Text</button>
    </div> -->
    <div class="input-question">
      <p #input 
        data-placeholder="Insert Question here..."
         
         contenteditable="true" 
         (focus)="onFocus()" 
         (blur)="onBlur()"
         class="input-div"
         tabindex="0">
      </p>
      
      <div>
        <button 
          mat-icon-button 
          *ngIf="isFocused" 
          (click)="addText()" 
          (mousedown)="onFocusButton()"
          class="btn-insertToken">
          <mat-icon>Close  </mat-icon>
        </button>
      </div>
    </div>
    
    <br />
    <br />
    <!-- <div class="btn">
      <button (click)="addToken()">Add Another Token</button>
    </div> -->
    <br />
    
    <div class="tokens"  [ngClass]="{'disabled-class': TokenElement.length === 0}" *ngFor="let i of TokenList" >
      <app-token [token] = "i" (changesInToken)="updateTheList($event)" ></app-token>
      
    </div>
    <br>
    <div class="addCorrectOptions" [ngClass]="{'disabled-class': TokenElement.length === 0}" >
      <div class="addCorrectOptions-dropDown" *ngFor="let i of TokenList">
        <app-add-correct-options [token]="i" (changesInToken)="updateTheList($event)"></app-add-correct-options>
      </div>
    </div>
    <div class="addCorrectOptions">

    </div>
  </div>
</div>



 <!-- Add Feedback -->
 <div class="feedback--section">
  <a href="#">Add Feedback</a>
</div>

<!-- previous button -->
 <div class="previous-button">
  <button>
      PREVIOUS
  </button>
 </div>