* {

  margin: 0;
  padding: 0;

}

.body {
  background-color: #EEEEEE;
  
  border-top: 1px solid black;
}

/*                                        savePreviewSection                                      */
.savePreviewSection{
  margin: 15px 150px 10px 150px;
  display: flex;
  justify-content: space-between;
  user-select: none;
  }
.headerTopheading{
  font-size: 20px;
  color: #222222;
  }
.htr{
  margin-left: 20px;
  }
.topBtn{
  margin: 10px;
  margin-right: 0px;
  padding: 10px;
  background: #E2F8FE 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #7994B3;
  border-radius: 2px;
  opacity: 1;
  color: black;
  }

.topHeading{
  margin-top: 20px;
  }

/*                                         Question Properties                                    */
.topHr{
  width: 50rem;
  height: 0px;
 margin-right: 10px;
 margin-left: 10px;
}

.topBanner {
 user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 150px 20px 150px;
  background-color: white;
  padding: 10px;

}

.topBanner:hover {
  cursor: pointer;
}

.btnBanner{
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-right: 4px;
  display: flex;
  justify-content: center;

}


.main-container {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  flex-direction: column;
  padding: 4px;
}

input {
  width: 100%;
  height: 35px;
  padding-left: 4px;
  padding-right: 4px;
}

.input-div {
  width: 100%;
  height: fit-content;
  padding-left: 4px;
  padding-right: 4px;
  border-bottom: 1px solid #3c4e62;
  padding-top: 4px;
  /* padding-bottom: 4px; */
  position: relative;
  line-height: 35px;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

.btn-insertToken {
  border: 1px solid #ccc;
  padding: 5px 10px;
  z-index: 1;
  background: #646464;
  position: absolute;
  top: -30px;
  text-transform: uppercase;
  font-weight: 600;
  left: 0;
}
.btn-insertToken > mat-icon {
  width: 100%;
}
.btn-insertToken:hover {
  background: #666666;
}

.input-question {
  display: flex;
  position: relative;
  margin: 10px;

}

[contentEditable=true]:empty:before {
      content: attr(placeholder);
      opacity: 0.6;
    }

/*                        */
.disabled-class{
  opacity: 0.5;
  
}
.tokens {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.addCorrectOptions {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F3FBFF;
  padding: 20px;
}

.addCorrectOptions-dropDown {

  /* margin-bottom: 20px; */
}

.btn {
  margin-top: 10px;
}

button {
  background-color: #3FD28B;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4dbc87;
}

label {
  width: 20%;

}

select {
  width: 20%;
  padding-left: 4px;
  padding-right: 4px;
}

.btn {
  display: flex;
  /* align-items: end; */
  justify-self: end;
}

button {
  /* align-items: end; */
  justify-content: end;
}

/* nav section */
.nav--section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5% 1.5%;
  background-color: #0B0B45;
  align-items: center;
  background-image: url('./../../assets/images/nav-bg.png');
}

.navigate--links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigate--links>a {
  text-transform: uppercase;
  margin-left: 1.5rem;
  text-decoration: none;
  color: #3fd28b;
}

/* Bottom-nav section */
.main--section {
  display: flex;
  padding: 0.5% 1%;
  background-color: #3c4e62;
  align-items: center;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}

.box:first-child>div {
  margin-right: auto;
}

.box:last-child>div {
  margin-left: auto;
}

.buttons>button {
  margin-right: 1rem;
  background-color: #3fd28b;
  color: black;
  border: none;
  padding: 0.3rem 1rem;
  font-size: 1rem;
}