
  <nav class="nav--section">
    <div>
        <img src="./../../assets/images/logo.svg" alt="Logo">
    </div>
    <div class="navigate--links">
        <a href="#">Content</a>
        <a href="#">Users</a>
        <a href="#">Manage Site</a>
        <!-- <a href="#">
            <img src="assets/icons/alerts.svg" alt="">
        </a> -->
        <a href="#">
            <img src="./../../assets/images/alerts.svg" alt="Alerts">
        </a>
        <a href="#">
            <img src="./../../assets/images/announcements.svg" alt="Announcements">
        </a>
        <a href="#">
            <img src="./../../assets/images/account_circle.svg" alt="">
        </a>
    </div>
  </nav>
  


<div class="main--section">
  <div class="box">
      <div class="arrow">
          <a href="#">
              <img src="./../../assets/images/back.svg" alt="">
          </a>
      </div>
  </div>
  <div class="box ">
      <div class="title">
          Create New Question
      </div>
      
  </div>
  <div class="box ">
      <div class="buttons">
          <button>Discard</button>
          <button>Publish</button>
          <button>Save</button>
      </div>
      
  </div>
</div>






<div class="body">
  <div class="topBanner">
    <div class="banner" routerLink="/">
        <button class="btnBanner">1</button>
        <span>Question Properties</span>
    </div>
    <hr class="topHr">
    <div class="banner" routerLink="/test">
        <button class="btnBannner">2</button>
        <span>Question Content</span>
    </div>
  </div>
  

  <div class="main-container">
    <!-- <div class="btn">
      <button (click)="addText()">Add Text</button>
    </div> -->
    <div class="input-question">
      <p #input 
        data-placeholder="Insert Question here..."
         
         contenteditable="true" 
         (focus)="onFocus()" 
         (blur)="onBlur()"
         class="input-div"
         tabindex="0">
      </p>
      
      <div>
        <button 
          mat-icon-button 
          *ngIf="isFocused" 
          (click)="addText()" 
          (mousedown)="onFocusButton()"
          class="btn-insertToken">
          <mat-icon>Close  </mat-icon>
        </button>
      </div>
    </div>
    
    <br />
    <br />
    <!-- <div class="btn">
      <button (click)="addToken()">Add Another Token</button>
    </div> -->
    <br />
    <div class="tokens" *ngFor="let i of TokenList" >
      <app-token [token] = "i" (changesInToken)="updateTheList($event)"></app-token>
      
    </div>
    <br>
    <div class="addCorrectOptions" >
      <div class="addCorrectOptions-dropDown" *ngFor="let i of TokenList">
        <app-add-correct-options [token]="i" (changesInToken)="updateTheList($event)"></app-add-correct-options>
      </div>
    </div>
    <div class="addCorrectOptions">

    </div>
  </div>
</div>



 <!-- Add Feedback -->
 <div class="feedback--section">
  <a href="#">Add Feedback</a>
</div>

<!-- previous button -->
 <div class="previous-button">
  <button>
      PREVIOUS
  </button>
 </div>