<div class="setProperty">
  
  <div id="setProperty-main">
    <!-- Bind the change event to the onOptionChange method -->
     <div id="setProperty-container">
      <p>Token {{ token.pos }} </p>
       <select id="token" (change)="onOptionChange($event)">
         <!-- Bind value to the object -->
         <option *ngFor="let option of token.optionList" [ngValue]="option">{{ option.option }}</option>
       </select>

     </div>
     <label *ngIf="selectedOption === 'Select'" id="error-message">Answer Option is required</label>
    <!-- Conditionally display the error message if no option is selected -->
  </div>
</div>

