<div class="setProperty">
  <p>Token {{ token.id }} </p>
  <div id="setProperty-container">
    <!-- Bind the change event to the onOptionChange method -->
    <select id="token" (change)="onOptionChange($event)">
      <!-- Bind value to the object -->
      <option *ngFor="let option of token.optionList" [ngValue]="option">{{ option.option }}</option>
    </select>
    <!-- Conditionally display the error message if no option is selected -->
    <label *ngIf="!selectedOption || selectedOption === 'Select'" id="error-message">Answer Option is required</label>
  </div>
</div>

