.setProperty {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px; /* Adjust spacing between elements as needed */
}

#setProperty-container p {
    margin: 4px 5px 0px 5px;
}

#setProperty-main{
    display: flex;
    flex-direction: column;
}

#setProperty-container {
    display: flex;
    flex-direction: row;
    
    padding: 8px;
}

#setProperty-container select {
    width: 180px; /* Set a standard width for the select element */
    padding: 5px; /* Optional: add padding for better appearance */
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

.setProperty label {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 75px;
}


#setProperty-container .has-error select {
    border: 1px solid red;
}

#setProperty-container .has-error  {
    display: block; /* Show error message if there's an error */
}

