*{
    font-family: QuickSand;
}
.header{
    display: flex;
    height: 48px;
    background-color: #FECA56;
    justify-content: space-between;
}

.phr{
    display: flex;
    width: 30%;
    margin-top: 10px;
    margin-left: 30px;
}

.vertical {
    border-left: 2px solid black;
    height: 12px;
    opacity: 0.2;
    margin: 5px 20px;
}


.btn{
    color: #222222;
    font-weight: 700;
    width: 112px;
    height: 36px;
    background: transparent linear-gradient(0deg, #57B9FE 0%, #61E8FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #0000003D;
    font-size: 12px;
    border-radius: 18px;
}
.exitBtn{
    margin: 5px;
    margin-right: 30px;
}
/*                                             div-Question                                       */
.Question{
    display: inline-flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 20px;
}
.Question-pos{
    display: inline-flex;
    /* width: 97%; */
    /* margin-top: 25px; */
    margin-right: 25px;
}

.main-answer-span ,#main-Wronganswer-span{ 
    display: none;
    margin: 0px 5px 0px 5px;
    width: 135px;
}
.main-answer-span-textSection{
    border:1px solid #035800;
    padding: 5px;
}

.main-answer-span-iconSection{
    background-color: #035800;
    padding: 5px;
}

.main-Wronganswer-span-textSection{
    border: 1px solid #f42020;
    padding: 5px;
}

.main-Wronganswer-span-iconSection{
    background-color: #f42020;
    padding: 5px;
}
.Question-id{
    /* display: inline-flex; */
    /* width: 3%; */
    /* margin-right: 8px; */
}
/*                                                       CheckButton                                 */
.checkBtn{
    margin-top: 20px;
    margin-left: 55px;
}

