<app-header></app-header>
<div class="header">
    <div class="phr">
        <p>[Course Family]</p>
        <span class="vertical"></span>
        <p>ID: 12345678</p>
    </div>
    <button class="btn exitBtn" routerLink="/questions">EXIT PREVIEW</button>
</div>
<div class="Question">
    <div class="Question-id">Q 1:</div> 
    <div class="Question-pos" #question>
    
    </div>
</div>

<div class="canvasDiv">
    
    <button class="btn checkBtn" (click)="checkAnswer()">check</button>
</div>
