*{  

    margin: 0;
    padding: 0;
    
}

.option {

    display: flex;
    flex-direction: row;
    border-radius: 8px;
    padding: 1px;
    margin: 10px 0;
    position: relative; 
    justify-content: space-between;
}

.option > div {
    margin-bottom: 10px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.icons .fa-trash {
    font-size: 18px;
    color: #1E7953; 
    cursor: pointer;
    margin-right: 8px;
}

.icons .fa-trash:hover {
    color: #42da9b; 
}



.icons span {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    margin-left: 5px
}

.icons span:hover {
    text-decoration: underline; 
}

p {
    font-size: 16px;
    margin: 0;
    color: #333;
}

filter-textbox {
    
    width: 100%;
}

.content{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 100%;
    border: 1px solid #E5E5E5;
    
    
}
.start-icon{
    display: flex;
    align-items: center;
    padding-right: 8px;
    padding-left: 8px;
    border-right: 1px solid #E5E5E5;
}