
* {
    margin: 0;
    padding: 0;
  }
  
  .options {
    display: flex;
  
    flex-direction: column; 
    gap: 10px; 
  }
  
  .app-option {
    
    margin: 0; 
    padding: 10px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    background-color: white;
  }
  button {
    background-color: #E2F8FE;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
    border:1px solid #859DB9;
  }
  
  button:hover {
    background-color: #92def3;
  }